body {
    margin: 0;
    padding: 0;

}





.header-sec {

    background: rgba(0, 0, 0, 0.5)url(images/donation4.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    width: 100%;
    left: 0px;

}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 320px;
    width: 826px;
    left: 307px;
    top: 174px;
    border-radius: 5px;
    margin-left: 20%;

}

.top {
    margin-top: 20%;

}


.header h1 {
    font-family: inter;
    font-size: 60px;
    color: white;
    margin-left: 25px;
    text-align: center;

}



.header p {
    color: white;
    font-size: 20px;
    font-weight: 700;
    width: 90%;
    text-align: center;
    margin-left: 40px;
}

.btn {
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-top: 5%;


}

.btn a {
    background-color: brown;
    padding: 10px 30px;
    text-decoration: none;
    color: aliceblue;
    font-weight: 700;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 8px;
}

.header-sec {
    margin-bottom: 150px;
}

/* background: rgba(0, 0, 0, 0.7)url(images/donation5.jpg);
background-size: cover;
background-position: center;
background-blend-mode: darken;
position
 transform: translate(-50%, -50%);
  z-index: 2;
    display: inline-block;
    transition: .3s;
     */

.our-donate {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 130px;
    margin-left: 375px;
    margin-right: 374px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}

.our-donate p,
h1 {
    margin: 20px;
    padding: 0px;
}

.our-donate h1 {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 5px;
    color: #121212;
}

.our-donate p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: #707070;
}

.taka-container {
    display: flex;
    justify-content: center;
    margin-left: 150px;
    background-position: center;
    margin-top: 30px;
}

.box {
    width: 135px;
    height: 123px;
    background: #FAFAFA;
    border-radius: 5px;
    margin-right: 20px;

}

#box-orange {
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
}

.box h1 {
    text-align: center;
    color: #707070;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin-top: 40px;
}

.other {
    width: 765px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 350px;
    margin-top: 30px;

}

.other h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #B3B3B3;
    border-bottom: 1px solid #DADADA;
    width: 765px;
    text-align: center;
}

.btn-other {
    background-color: rgba(255, 89, 89, 1);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 670px;

    padding: 16px 12px;

}

.btn-other {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.our-donate-section {
    margin-bottom: 150px;
}

.donatate-plan {
    margin-bottom: 150px;
}

.plan-header {
    width: 45%;
    margin-left: 28%;

}

.plan-header h1 {
    font-family: 'Inter';
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 0px;
}

.plan-header p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #707070;
}

.plan-content {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.family {
    width: 360px;
    height: 352px;
    margin-right: 20px;
}

#food {
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
}

#shelter {
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}

#education {
    background: #FFF4D6;
    border-radius: 5px;
}

#food h1 {
    margin-top: 15px;
}

.icon-shelter {
    width: 53px;
    height: 53px;
}

.icon {
    margin-top: 64px;
    margin-left: 18px;
}

.family-box {
    margin-left: 18px;
}

.family-box h3 {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;

    color: #121212;
}

.family-box p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #707070;
    width: 315px;
}

.wrap-live {
    display: flex;

}

.half-width {
    width: 50%;
}

.live {
    width: 493px;
    margin-left: 80px;
    margin-top: 50px;

}

.live h1 {
    font-family: 'Inter';
    font-size: 45px;
    font-weight: 700;
    color: #121212;
}

.live p {
    color: rgba(112, 112, 112, 1);
    margin-left: 22px;
}

.live .para1 {
    width: 400px;
    font-weight: 400;
    font-size: 18px;

}

.live .para2 {
    width: 400px;
    font-weight: 400;
    font-size: 18px;

}

.livepic img {
    width: 456px;
    height: 477px;
}

.toplive {
    margin-top: 30px;
    width: 230px;
    height: 56px;
}

.live-btn {
    background: #FF5959;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 16px 12px;
    font-weight: 500;
    font-size: 15px;
    margin-left: 20px;

}

.livepic {
    margin-left: 200px;

}

.wrap-live {
    margin-bottom: 150px;
}





/* 
.plan-header {

    
    display: flex;
    flex-direction: column;
    width: 691px;
    height: 130px;
    margin-left: 375px;
    margin-right: 374px;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin-top: 30px;
} */